<h1>lists</h1>

  <div class="row">
    <% @lists.each do |list| %>
       <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= list.name %>
            <p> ----------- </p>
            <%= "Category: #{list.name}"  %>
            <button class="m-2"><%= link_to 'details', list%></button>
          </div>
      </div>
    <% end %>
  </div>
  <hr>
  <div><p>Adding new lists</p></div>
  <hr>
  <button class="m-2"><p><%= link_to 'Add', new_list_path%> </p></button>
