<h1>new lists</h1>
<%=simple_form_for(@list) do |field|%>
<%=field.input :name %>
<button class="m-2"><%=field.button :submit%></button>
<%end%>
<hr>
<button class="m-2"><%= link_to 'back', lists_path%> </button>
